@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden text-white font-BarlowCondensed;
  }
  img {
    @apply select-none;
  }
}

@layer components {
  .tab {
    @apply border-r-4 border-solid border-transparent md:hover:border-b-[3px] md:hover:border-r-0 md:border-r-0;
  }

  .active-tab {
    @apply border-r-[3px] md:border-b-[3px] border-white md:border-r-0;
  }
  .tab:not(.active-tab) {
    @apply hover:border-white/30;
  }

  .tab > a {
    @apply inline-block px-8 py-3 md:py-10 xl:py-10 sm:pr-20 md:px-0;
  }

  .section-title {
    @apply tracking-[2.7px] uppercase flex gap-4 md:gap-5 justify-center md:justify-start md:text-xl md:tracking-[3.5px] xl:text-3xl  xl:tracking-[4.5px];
  }

  .section-title > span {
    @apply text-[#ffffff25] font-bold;
  }

  #destination-img {
    animation-name: ImgPulse;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
}

.bg-\[image\:var\(--homeMobile\)\] {
  background-color: #130f41fb;
  background-image: var(--homeMobile);
}

@media (min-width: 768px) {
  .md\:bg-\[image\:var\(--homeTablet\)\] {
    background-color: #130f41fb;
    background-image: var(--homeTablet);
  }
}

@media (min-width: 1440px) {
  .xl\:bg-\[image\:var\(--homeDesktop\)\] {
    background-color: #130f41fb;
    background-image: var(--homeDesktop);
  }
}

.bg-\[image\:var\(--destinationMobile\)\] {
  background-color: #130f41fb;
  background-image: var(--destinationMobile);
}

@media (min-width: 768px) {
  .md\:bg-\[image\:var\(--destinationTablet\)\] {
    background-color: #130f41fb;
    background-image: var(--destinationTablet);
  }
}

@media (min-width: 1440px) {
  .xl\:bg-\[image\:var\(--destinationDesktop\)\] {
    background-color: #130f41fb;
    background-image: var(--destinationDesktop);
  }
}

.bg-\[image\:var\(--crewMobile\)\] {
  background-color: #130f41fb;
  background-image: var(--crewMobile);
}

@media (min-width: 768px) {
  .md\:bg-\[image\:var\(--crewTablet\)\] {
    background-color: #130f41fb;
    background-image: var(--crewTablet);
  }
}

@media (min-width: 1440px) {
  .xl\:bg-\[image\:var\(--crewDesktop\)\] {
    background-color: #130f41fb;
    background-image: var(--crewDesktop);
  }
}

.bg-\[image\:var\(--technologyMobile\)\] {
  background-color: #130f41fb;
  background-image: var(--technologyMobile);
}

@media (min-width: 768px) {
  .md\:bg-\[image\:var\(--technologyTablet\)\] {
    background-color: #130f41fb;
    background-image: var(--technologyTablet);
  }
}

@media (min-width: 1440px) {
  .xl\:bg-\[image\:var\(--technologyDesktop\)\] {
    background-color: #130f41fb;
    background-image: var(--technologyDesktop);
  }
}

@keyframes ImgPulse {
  0% {
    opacity: 0.1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
